extends ../layout

block content
    a(href="/bicicletas" class="btn btn-primary") Volver

    br
    br
    br

    h1 Detalle bicicleta

    br
    br

    .container
        .row    
            label(for="id") Id:
            span#id= bici.id
        .row   
            label(for="color") Color:
            span#color= bici.color
        .row   
            label(for="modelo") Modelo:
            span#modelo= bici.modelo
        .row    
            label(for="latitud") Latitud:
            span#latitud= bici.ubicacion[0]
        .row   
            label(for="longitud") Longitud:
            spana#longitud= bici.ubicacion[1]