extends ../layout

block content
    a(href="/bicicletas" class="btn btn-primary") Volver

    br
    br
    br

    h1 Nueva bicicleta

    br
    br

    form(action="/bicicletas/crear", method="post")
        label(for="id") Id:
        input#id(type="text", name="id" required='')
        br
        label(for="color") Color:
        input#color(type="text", name="color" required='')
        br
        label(for="modelo") Modelo
        input#modelo(type="text", name="modelo" required='')
        br
        label(for="latitud") Latitud:
        input#latitud(type="text", name="latitud" required='')
        br
        label(for="longitud") Longitud:
        input#longitud(type="text", name="longitud" required='')
        br
        br
        input.btn.btn-primary(type="submit", value="Ingresar")