extends ../layout

block content
    a(href="/bicicletas/crear" class="btn btn-primary") Crear Nueva Bicicleta
    
    br
    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
        tbody
            each bici in bicis
                tr
                    td(scope='row')=bici.id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a(href=`bicicletas/show/${bici.id}` class = "btn btn-primary" )= "Detalle"
                    td
                        a(href=`bicicletas/${bici.id}/update/` class ="btn btn-primary")= "Modificar"
                    td 
                      form.inline(method ='post' action="bicicletas/"+bici.id+"/destroy")
                            input(type="hidden" name="id" value=bici.id)
                            button.link-button(type='submit' name ='submit_param' value= 'submit_value' class="btn btn-primary")= "Eliminar"