extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Red de bicicletas
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Contenido del curso
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#Bicicletas') Mapa Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#CrudBici') Crud Biciletas
  header.bg-primary.text-white
    .container.text-center
      h1 Bienvendio a #{title}
      p.lead Desarrollo del lado del servidor: NodeJs, Express  y
  section#about
    .container
      .row
        .col-lg-8.mx-auto
          h2 About this page
          p.lead
            | Esta pagina conforma la parte practica correpondientes a las lecciones 1,2,3 y 4 de la primer semana del curso
          ul
            li Introduccion
            li Que es NodeJs y Express
            li Sistema de control de versiones
            li Creacion de un proyecto en Node
  section#Bicicletas.bg-light.bg-light
    .container
      .row
        #main_map.mx-auto 
      //- .row
      //-   .col-lg-8.mx-auto
      //-     h2 Contact us
      //-     p.lead
      //-       | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.
      //- .row
  section#CrudBici
    .container
      .row
        .mx-auto
          a.btn.btn-primary(href="/bicicletas") Listado Bicicletas
       

  // Footer
  footer.py-5.bg-dark
    .container
      p.m-0.text-center.text-white Copyright &copy; Your Website 2020
    // /.container
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  // Custom JavaScript for this theme
  script(src='/javascripts/scrolling-nav.js')
  script(src="/javascripts/map.js")

